########################
# START VIMEOEMBED
########################

# Optionally add Vimeo Objects to all
# or some page types ...
Page:
  extensions:
    - VimeoDOD

Sunnysideup\Vimeoembed\Model\VimeoDOD:
  exclude_vimeo_from_page_classes: []
  include_vimeo_in_page_classes: []

Sunnysideup\Vimeoembed\Model\VimeoDataObject:
  vimeo_base_url: ""
  width: foo
  maxwidth: foo
  height: foo
  maxheight: foo
  byline: foo
  title: foo
  portrait: foo
  color: foo
  callback: foo
  autoplay: foo
  xhtml: foo
  api: foo
  wmode: foo
  iframe: foo

########################
# END VIMEOEMBED
########################
